<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>購入履歴 | SUMOKAN</title>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script> 
<link href="/css/purchase_history.css" th:href="@{/css/purchase_history.css}" rel="stylesheet"/>
<link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="fragments/page_header.html :: pageHeader">
</header>
<div title="購入履歴" class="container">
	<h2>購入履歴</h2>
	 <div class="noData hidden">
      	<p class="info">購入履歴はありません。</p>
    </div>
  <table class="table_box">
 	 <thead>
 	 	<tr>
 	 		<th width="220">購入日時</th><th width="100">商品名</th><th width="70">価格(円)</th><th width="50">個数</th><th width="120">宛名</th><th width="220">宛先住所</th>
 	 	</tr>
  	</thead>
  	<tbody>
 	<tr  th:each="history: ${historyList}"> 
         <td th:text="${history.purchasedAt}"/> 
         <td th:text="${history.productName}"/> 
         <td th:text="${history.price}"/> 
         <td th:text="${history.productCount}"/> 
         <td><span  th:text ="${history.familyName} + ' ' + ${history.firstName}"></span></td> 
         <td th:text="${history.address}" class="address" /> 
       </tr>  
	</tbody>
   </table>
    <label class="delete_button">
		<input type="button" value="削除" class="delete_input" id="deleteButton"/>
	</label>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
 $(() => {
 	isExistsHistoryList(false);  // 引数(削除済)にfalseを指定
 	$('#deleteButton').on('click', () => {
 		deleteHistory();
 	});
 });
 
 function isExistsHistoryList(deleted) {
	 	let histroryListSize = /*[[${historyList.size()}]]*/;
		
	 	//リストのサイズが0　もしくは　テーブルヘッダー以外の行がなければ
	 	if (histroryListSize == 0 || deleted) {
	 		// 情報なしメッセージを表示
	 		$('.noData').removeClass('hidden');
			
			//テーブルのtrを非表示
	 		$('.table_box tr').remove();
			
	 		// ボタンを非表示
	 		$('.delete_button').remove();
	 	}
	 }

	 function deleteHistory() {
	 	$.ajax({
	     type: 'POST',
	     url: '/hope/history/delete'
	   })
	   .then((result) => {
	 	  isExistsHistoryList(true);  // 引数(削除済)にtrueを指定
	   }, () => {
	 	  alert('Error: ajax connection failed.');
	   });	  
	 }

 /*]]>*/
</script> 

</body>
</html>